@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-navColor: #74512d;
  /* --color-navColor: #ffffff;
  --color-blackFont: #2a2a2a; */
  --color-goldFont: #feba17;
  --color-lightBrown: #74512d;
  --color-darkBrown: #4e1f00;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
